// =========================
// Constants and definitions
// =========================
// TODO: Should probably make this more SASS-like.

$fg-color: #f1f1f1;
$bg-color: #212121;

// Highlights
$accent-color: #7cb342; // Main accent
$success-color: $accent-color;
$warn-color: #ff8f00;
$error-color: #e53935;
$info-color: #55acee;
$twitter-color: $info-color;
$gold-color: #ffc107;
$first: gold;
$second: silver;
$third: copper;
$claranet-color: #df1a21;
$gift-color: #b388ff;
$must-read-color: $error-color;

// Shades
$black: black;
$shadow: black;

$dark: #424242;
$darker: #626262;
$darkest: #828282;

$translucent: rgba(255,255,255,0.1);

// Fonts
$font-face: "Trebuchet MS", Helvetica, sans-serif;
$font-code: "Courier New", Courier, monospace;
// =========================

// OVERRIDES: These are the hacky bits to catch and override inline styles.
.ssl-warning {
    color: $fg-color!important;
    background: $dark!important;
}
.claranet { color: $claranet-color!important; } // Claranet special color
div.jumbotron[style^="border: 1px"] { border: 0!important; } // Shoutbox border
*[style^="color: #65be00"] { color: $success-color!important; } // Green highlights
*[style^="color: #ac0000"] { color: $error-color!important; } // Error highlights
.glyphicon-fire { color: $must-read-color; }
.glyphicon-gift { color: $gift-color; }
div[style^="word-wrap"] {
    padding: 15px!important;
    color: $fg-color!important;
    font-family: $font-code!important;
    background: $translucent!important;
}
// ===

.overlay-bg { background-color: black; }

.code-highlight {
    background-color: #f9f2f4;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #dfdfdf
}

.overlay-msg {
    position: fixed;
    background-color: white;
    padding: 35px;
    border-radius: 5px;
    z-index: 20000;
    width: 30%;
    left: 50%;
    margin-top: 100px;
    margin-left: -15%;
}

// unused?
.reset-passwd {
    color: #3c9ce7;
    font-weight: bold;
    font-size: 1cm;
    margin-left: 30px;
}

// Page Layout
body { background: $bg-color; color: $fg-color; font-family: $font-face }
nav { box-shadow: 0 0 10px $shadow; border-color: $shadow!important; }
.jumbotron { box-shadow: 0 0 10px $shadow; background-color: $dark!important; }
.panel, .panel-default { border: 0; background-color: $darker; }
hr { border-color: $translucent!important; }
td hr { display: none; } // Hide About us table ruler.

.alert-danger {
    border: 0;
    background-color: lighten($error-color, 20%);
    color: darken($error-color, 10%);
}

.alert-success {
    border: 0;
    background-color: $success-color;
    color: darken($success-color, 10%);
}

.footer {
    background-color: $black;
    color: #9d9d9d;
}

// Gold and leaderboard
.gold { color: $gold-color; }
.star_1 { color: $first; }
.star_2 { color: $second; }
.star_3 { color: $third; }
// ==

// Controls
.btn-success {
    background-color: $accent-color;
    &:hover { background-color: darken($accent-color, 5%); }
    border: 0
}

.btn-danger {
    background-color: $error-color;
    &:hover { background-color: darken($error-color, 5%); }
    border: 0
}

.btn-grey, .btn-top {
    color: $fg-color;
    &:hover { color: lighten($fg-color, 5%); }
    border: 0
}

.btn-warning {
    background-color: $warn-color;
    &:hover { background-color: darken($warn-color, 5%); }
    border: 0
}

.form-control:not(.btn), input, textarea {
    background-color: $translucent;
    padding: 10px;
    color: $fg-color;
    border: 0;
}

select { padding: 5px; margin-bottom: 5px; }
option { background: $darker; }

a {
    color: $fg-color;
    &:hover { color: darken($accent-color, 5%); }
}

.twitter-link { color: $twitter-color; }

.dropdown-menu {
    background: $darker;
    >li>a {
        color: $fg-color;
        &:focus, &:hover {
            background-color: darken($darker, 5%);
            color: $fg-color;
        }
    }
}
// ==

// Tabular data
table.table-bordered { border: 0; }
thead { background: $darker; box-shadow: 0 5px 7px -7px $shadow; border-bottom: 1px solid $translucent; }
.table-striped>tbody>tr:nth-of-type(odd) { background: $translucent; }
th, td { border: none!important; }
// About us: roster separator
.panel .table:not(.table-striped) tr { border-bottom: 1px solid $translucent; }

.a-green { color: $accent-color; }
.red { color: $error-color; }

// List groups
.list-group-item.active {
    border: 0;
    background-color: $accent-color;
    &:hover { background-color: $accent-color; }
}

a.list-group-item { color: $fg-color; }
.list-group-item {
    background: $translucent;
    border: 0;
}

a.list-group-item:focus, a.list-group-item:hover {
    background: opacify($translucent, 0.2);
    color: $fg-color;
}
// ==

// Pagination
li .active { background-color: $accent-color; }
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: $accent-color;
}

.pagination > li > a, .pagination > li > span,
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: $fg-color!important;
    background: $translucent;
    border: 0;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: lighten($fg-color, 5%)!important;
    background: opacify($translucent, 0.2);
}
// ==

.challenge-wrapper {
    background-color: $translucent;
    border: 0;
}

.flag_wrapper { } // What is this used for?

.console_text { font-family: $font-code; }

