// =========================
// Constants and definitions
// =========================

$fg-color: #f1f1f1;
$bg-color: #212121;

// Highlights
$accent-color: #56af00; // Main accent
$success-color: $accent-color;
$warn-color: orange;
$error-color: #c9302c;
$info-color: #55acee;
$twitter-color: $info-color;
$gold-color: gold;
$first: gold;
$second: silver;
$third: copper;
$claranet-color: $accent-color;

// Shades
$black: black;
$shadow: black;

$dark: #424242;
$darker: #626262;
$darkest: #828282;

$translucent: rgba(255,255,255,0.1);

// Fonts
$font-face: "Trebuchet MS", Helvetica, sans-serif;
$font-code: "Courier New", Courier, monospace;
// =========================

// OVERRIDES: These are the hacky bits to catch and override inline styles.
.ssl-warning {
    color: $fg-color!important;
    background: $dark!important;
}
.claranet { color: $claranet-color!important; } // Claranet special color
div.jumbotron[style^="border: 1px"] { border: 0!important; } // Shoutbox border
// ===

.overlay-bg { background-color: black; }

.code-highlight {
    background-color: #f9f2f4;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 10px;
    border: 1px solid #dfdfdf
}

.overlay-msg {
    position: fixed;
    background-color: white;
    padding: 35px;
    border-radius: 5px;
    z-index: 20000;
    width: 30%;
    left: 50%;
    margin-top: 100px;
    margin-left: -15%;
}

// unused?
.reset-passwd {
    color: #3c9ce7;
    font-weight: bold;
    font-size: 1cm;
    margin-left: 30px;
}

// Page Layout
body { background: $bg-color; color: $fg-color; font-family: $font-face }
nav { box-shadow: 0 0 10px $dark; }
.jumbotron { box-shadow: 0 0 10px $shadow; background-color: $dark!important; }
.panel, .panel-default { border: 0; background-color: $darker; }
hr { border-color: $translucent!important; }
.gold { color: $gold-color; }

// Controls
.btn-success {
    background-color: $accent-color;
    &:hover { background-color: darken($accent-color, 5%); }
}

.btn-danger {
    background-color: $error-color;
    &:hover { background-color: darken($error-color, 5%); }
}

.btn-grey, .btn-top {
    color: $fg-color;
    &:hover { color: lighten($fg-color, 5%); }
}

.form-control:not(.btn), input, textarea {
    background-color: $translucent;
    padding: 10px;
    color: $fg-color;
    border: 0;
}

.twitter-link { color: $twitter-color; }
// ==

// Tabular data
table.table-bordered { border: 0; }
thead { background: $darker; box-shadow: 0 5px 7px -7px $shadow; border-bottom: 1px solid $translucent; }
.table-striped>tbody>tr:nth-of-type(odd) { background: $translucent; }
th, td { border: none!important; }

.flag_wrapper { }


a {
    color: $fg-color;
    &:hover { color: darken($accent-color, 5%); }
}

.a-green { color: $accent-color; }
.red { color: $error-color; }

// List groups
.list-group-item.active {
    border-color: #379000;
    background-color: #65be00;
    &:hover { background-color: #379000; }
}

// Pagination

li .active { background-color: $accent-color; }

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: $accent-color;
}

.pagination > li > a, .pagination > li > span,
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: $fg-color!important;
    background: $translucent;
    border: 0;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: lighten($fg-color, 5%)!important;
    background: opacify($translucent, 0.2);
}

.challenge-wrapper {
    background-color: $translucent;
    border: 0;
}

.console_text { font-family: $font-code; }

.star_1 { color: $first; }
.star_2 { color: $second; }
.star_3 { color: $third; }

.footer {
    background-color: $black;
    color: #9d9d9d;
}

